// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Lifted from pelican

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

// Added by njs

// headers that are links back to a table-of-contents
.toc-backref {
    color: inherit;
    text-decoration: inherit;
}

// cribbing from http://duncanlock.net/blog/2013/05/29/better-figures-images-plugin-for-pelican/
.figure {
    margin-bottom: 1em;
}
.align-right {
    float: right;
    margin-right: 1em;
    margin-left: 1em;
}
.align-left {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
}

.caption {
    font-style: italic;
    text-align: center;
    // figure already has a margin-bottom, and captions are a <p> so they
    // inherit that margin-bottom, giving us two; this cancels out the one on
    // the caption. -njs
    margin-bottom: 0;
}
