// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Lifted from pelican

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

// Added by njs

// headers that are links back to a table-of-contents
.toc-backref {
    color: inherit;
    text-decoration: inherit;
}

// .. note::
.note {
    background-color: #eee;
    border: 1px solid #ccc;
    margin-left: 1.5em;
    float: right;
    width: 50%;
}
.note p {
    margin-right: 0.5em;
    // this gets overridden for the title below
    margin-left: 1em;
}
p.admonition-title {
    margin-left: 0.5em;
    display: inline;
    font-weight: bold;
}
p.admonition-title:after {
    content: ":";
}

// cribbing from http://duncanlock.net/blog/2013/05/29/better-figures-images-plugin-for-pelican/
// NB:
//   ..figure wrapping div gets class="figure align-{whatever}"
//   ..image just gets an <img class="align-{whatever}">
.figure {
    margin-bottom: 1em;
    // https://stackoverflow.com/questions/4979487/image-caption-width-to-same-as-image
    display: table;
}
.align-right {
    float: right;
    margin-right: 1em;
    margin-left: 1em;
}
.align-left {
    float: left;
    margin-right: 1em;
    margin-left: 1em;
}

.caption {
    font-style: italic;
    text-align: center;
    // figure already has a margin-bottom, and captions are a <p> so they
    // inherit that margin-bottom, giving us two; this cancels out the one on
    // the caption. -njs
    margin-bottom: 0;
    display: table-caption;
    caption-side: bottom;
}
